@model Coupon
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create Coupon</h2>
<br />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="whiteBackground border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label" asp-for="Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label" asp-for="Picture"></label>
            </div>
            <div class="col-5">
                <input asp-for="Picture" type="file" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label" asp-for="CouponType"></label>
            </div>
            <div class="col-5">
                <select asp-for="CouponType" class="form-control" asp-items="Html.GetEnumSelectList<Coupon.EcouponType>()"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label" asp-for="Discount"></label>
            </div>
            <div class="col-5">
                <input asp-for="Discount" class="form-control" />
                <span class="text-danger" asp-validation-for="Discount"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label" asp-for="MinimumAmount"></label>
            </div>
            <div class="col-5">
                <input asp-for="MinimumAmount" class="form-control" />
                <span class="text-danger" asp-validation-for="MinimumAmount"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label class="col-form-label" asp-for="IsActive"></label>
            </div>
            <div class="col-5">
                <input asp-for="IsActive" type="checkbox" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreatAndBackPartial" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}

